extends ../layout/normal
block normal
    .col-md-12
        h3.pb-4.mb-4.font-italic.border-bottom.pt-3
            |All blog posts form heart |
            a.btn.btn-primary(href="/manage/newpost").ml-3 new post
    .container
        .row.mb-2
            each post in posts
                .col-md-6
                    .row.no-gutters.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
                        .col.p-4.d-flex.flex-column.position-static
                            //strong.d-inline-block.mb-2.text-primary World
                            h3.mb-0= post.name
                            .mb-1.text-muted Nov 12
                            .mb-1.text-muted=post.author  
                            p.card-text.mb-auto= post.description
                            a.stretched-link(href="/" + post._id) 
                        .col-auto.d-none.d-lg-block
                            img.w-100(src="https://loremflickr.com/200/250")