extends ../layout/normal
block normal
    .col-md-12
        h3.pb-4.mb-4.font-italic.border-bottom.pt-3
            |Add new post
    .col-md-7
        if errors
                each error in errors
                    .alert.alert-danger= error        
    .row
        .col-md-7       
            form(action="/manage/newpost", method="POST")
                .form-group.row
                    label Name:
                    input.form-control(name="name" type="text" value= values ? values.name : "")
                    label Author:
                    input.form-control(name="author" type="text" value= values ? values.author : "")
                    label Description:
                    input.form-control(name="description" type="text" value= values ? values.description : "")
                    label Content:
                    textarea.form-control(name="content", cols="30", rows="10" type="text" value= values ? values.content : "")
                    button.btn.btn-primary.mt-3 create
        .col-md-5
            .p-4.mb-3.bg-light.rounded
                h4.font-italic.i.fas.fa-info  TIP: 
                p.mb-0
                    | Do you know? 
                    | This's my practice to learning nodeJS using Express, mongoDB.           
    